# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Django
db.sqlite3
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# migrations (optional: keep __init__.py only)
*/migrations/*
!*/migrations/__init__.py