{% extends 'base.html' %}

{% block content %}
<div class="card">
    <p class="eyebrow">Patient</p>
    <h1>My Consultation Summaries</h1>

    {% if consultations %}
        {% for consultation in consultations %}
            <div class="card" style="margin-top: 16px;">
                <h3>
                    Dr. {{ consultation.appointment.doctor.user.first_name }}
                    {{ consultation.appointment.doctor.user.last_name }}
                </h3>

                <p>
                    <strong>Date:</strong>
                    {{ consultation.appointment.date }}
                </p>

                <p>
                    <strong>Time:</strong>
                    {{ consultation.appointment.start_time }}
                    -
                    {{ consultation.appointment.end_time }}
                </p>

                <p>
                    <strong>Diagnosis:</strong>
                    {{ consultation.diagnosis|default:"No diagnosis written." }}
                </p>

                <a class="btn btn-primary"
                href="{% url 'patient_consultation_detail' consultation.id %}">
                    View Summary
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No completed consultation summaries yet.</p>
    {% endif %}

    <br>
    <a class="btn btn-soft" href="{% url 'patient_dashboard' %}">
        Back to Dashboard
    </a>
</div>
{% endblock %}